/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@400;500;600;700&display=swap"); */


*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* font-family: "Roboto", sans-serif; */
  gap: 1rem;
  font-family: Helvetica, sans-serif;
  background: rgb(223, 223, 223);
  background: linear-gradient(rgba(223, 223, 223, 1) 35%, rgba(158, 158, 158, 1) 100%);
}
#title{
  color: #313131;
}



.button {
  border: none;
  border-radius: 50px;
  font-size: 1.75rem;
  height: 60px;
  width: 60px;
  background-color: #4f4949;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s ease-out;

}


.button:hover {
  background-color: #737373;
  transition: 0s ease-in;
}




.flex {
  
  width: 350px;
  height: 600px;
  padding: 1.5rem;
  border-radius: 17.5px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.flex-col {
  flex-direction: column;
}

.item-center {
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 19vw;
}

.row input {
  width: 291px;
  font-size: 30px;
  margin: 24px 0 52px 0;
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 17px;
}

.operator {
  background-color: orange;
  border-radius: 50%;
  border: none;
}

/* .button:hover {
  font-size: large;
  border: none;
} */